<link rel="stylesheet" href="/css/posts.css">

    
        <li id="post-<%=post._id%>">
            <div><%= post.user.name%></div>  
            <div id="post-content">
                <div class="delete-link"><%=post.content%></div>
                <%if(locals.user && locals.user.id == post.user.id){%>
                
                <a href="/posts/destroy/<%= post._id %>" class="delete-post">X</a>
                
                <%}%>
            </div>   
    
            <div>
                <%if (locals.user){%>
                <form action="/comments/create" class="post-comments"  method="POST">
                    <input type="text" name="content" placeholder="Type you comment Here">
                    <input type="hidden" name="post" value="<%= post.id%>">
                    
                    <input type="submit" value="Submit">
                </form>
                <%}%>
                <div class="post-comment-continer">
                    <ul id="post-comment-list-<%= post._id%>">
                        <%for(comment of post.comments){%>
                            <%- include('_comments.ejs') -%>
                        <%}%>
                    </ul>
                </div>
            </div>
            
        </li>
    


    
    
